.dev{
    text-align: center;
    font-family: sofia-pro, sans-serif;
    color: #ededed;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #eaeaea;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 2rem;
}

.exprealty{
    transition: .3s;
}

.exprealty:hover{
    color: rgb(160, 180, 252);
}

.socials{
    display: flex;
    justify-content: center;
    
}

a{
    transition: .3s;
}
a:hover{
    color: #5264AE;
}
.fa{
    font-size: 17pt;
    margin: 10px;
    background-color: #10121B;
    padding: 12px;
    border-radius: 10px;
    transition: .3s;
}

.fa:hover{
    color: #5264AE;
}